* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#container {
    height: 800px;
    width: 800px;
    margin: 10vh auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 50px;
}

main {
    background-color: #7fffd4;
}

.box {
    width: calc(100% / 10);
    height: calc(100% / 10);
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center; 
}