* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#container {
    height: 800px;
    width: 800px;
    margin: 10vh auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 50px;
    align-content: flex-start;
}

main {
    background-color: #7fffd4;
}

.box {
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center; 
}

.box.box10 {
    width: calc(100% / 10);
    height: calc(100% / 10);
}

.box.box9 {
    width: calc(100% / 9);
    height: calc(100% / 9);
}

.box.box7 {
    width: calc(100% / 7);
    height: calc(100% / 7);
}

.box.active {
    background-color: lightseagreen;
}